<!DOCTYPE html>
<!-- Esto es un comentario...  -->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <h1>Imágenes</h1>
         <p>Los autos que en mi subconsiente llevo todos los dias..</p>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header> 
        <aside>
            <h1>Mis Autos</h1>
            <p>Los autos que en mi subconsiente llevo todos los dias..</p>
        </aside>
        <section>
            <h2>Lunes</h2>
            <!-- Carga de imagen quizá ya descargada y guardada en mi equipo y jalandola a la carpeta img, y se le da el tamaño que gustemos... -->
            <img src="/img/lunes.jpg" width="300" alt=""/>
            <h2>Martes</h2>
            <!-- Carga de imagen copiando el URL desde google, OJO: estas etiquetas de img no llegan el cierre común como en los parrafos o titulos de </p> por ej... -->
            <img src="https://bloximages.chicago2.vip.townnews.com/thestar.com/content/tncms/assets/v3/editorial/7/af/7afe9aca-44df-586a-8cae-f8c7244932bc/66cdfa43e1093.image.jpg?resize=1200%2C800" width="300" alt=""/>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>

    </body>
</html>
